/*Check if declaring fonts should be in mixins*/
@font-face {
  font-family: "Avenir";
  src: url("../../assets/font/AvenirNextLTPro-Regular.otf");
  font-weight: 400;
}
@font-face {
  font-family: "Avenir";
  src: url("../../assets/font/AvenirNextLTPro-Demi.otf");
  font-weight: 600;
}
@font-face {
  font-family: "Avenir";
  src: url("../../assets/font/AvenirNextLTPro-Bold.otf");
  font-weight: 700;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Avenir, sans-serif;
  font-weight: 400;
}
body ul {
  list-style: none;
}

.navbar {
  background-color: #323232;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .navbar {
    flex-direction: row;
    padding: 0rem 2rem;
  }
}
@media screen and (min-width: 1280px) {
  .navbar {
    padding: 0rem 8.5rem;
  }
}
.navbar__logo {
  display: inline-block;
  display: flex;
  align-items: center;
  padding-top: 1rem;
}
@media screen and (min-width: 768px) {
  .navbar__logo {
    padding: 0;
  }
}
.navbar__logo-link {
  text-decoration: none;
}
.navbar__logo-image {
  height: 1.5rem;
}
.navbar__menu {
  justify-content: space-around;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
@media screen and (min-width: 768px) {
  .navbar__menu {
    padding: 1rem 2rem;
    justify-content: left;
  }
}
.navbar__options {
  font-weight: 400;
  font-size: 1.3rem;
  display: inline-block;
  width: 50%;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .navbar__options {
    width: auto;
  }
}
.navbar__options--active {
  border-bottom: solid 0.25rem white;
}
@media screen and (min-width: 768px) {
  .navbar__options--active {
    border-bottom: none;
    width: auto;
  }
}
.navbar__options:hover {
  border-bottom: solid 0.25rem white;
  color: white;
}
@media screen and (min-width: 768px) {
  .navbar__options:hover {
    border-bottom: none;
    width: auto;
  }
}
.navbar__button {
  display: inline-block;
  color: #E1E1E1;
  text-decoration: none;
  font-size: 1rem;
  line-height: 1.25rem;
  padding: 1rem;
}
.navbar__button--active {
  color: white;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .navbar__button--active {
    text-decoration: underline;
    text-decoration-color: white;
    text-underline-offset: 2.05rem;
    text-decoration-thickness: 0.3rem;
  }
}
.navbar__button:hover {
  color: white;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .navbar__button:hover {
    text-decoration: underline;
    text-decoration-color: white;
    text-underline-offset: 2.05rem;
    text-decoration-thickness: 0.3rem;
  }
}

.banner {
  background: url("../assets/Images/hero-bio.jpg");
  height: 25vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .banner {
    height: 65vh;
  }
}
@media screen and (min-width: 1280px) {
  .banner {
    height: 90vh;
  }
}
.banner--shows {
  background: url("../assets/Images/hero-shows.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 37vh;
}
@media screen and (min-width: 768px) {
  .banner--shows {
    height: 60vh;
    flex-direction: column;
  }
}
@media screen and (min-width: 1280px) {
  .banner--shows {
    height: 80vh;
  }
}
.banner__content {
  padding: 0 1rem;
}
@media screen and (min-width: 768px) {
  .banner__content {
    padding: 0 2rem;
  }
}
@media screen and (min-width: 1280px) {
  .banner__content {
    display: flex;
    justify-content: space-between;
    padding: 0 8.5rem;
  }
}
.banner__text-container {
  display: flex;
  flex-direction: column;
  width: 85%;
  padding: 1rem 0;
}
@media screen and (min-width: 768px) {
  .banner__text-container {
    width: 80%;
  }
}
@media screen and (min-width: 1280px) {
  .banner__text-container {
    width: 50%;
  }
}
.banner__overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #323232;
  opacity: 50%;
  top: 0;
}
.banner__text, .banner__text--small {
  color: white;
  font-size: 1.5625rem;
  font-weight: 600;
  z-index: 10;
  position: relative;
}
@media screen and (min-width: 768px) {
  .banner__text, .banner__text--small {
    font-size: 64px;
  }
}
.banner__text--small {
  font-size: 0.9rem;
  padding-bottom: 1rem;
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  .banner__text--small {
    font-size: 1.6rem;
    font-weight: 600;
  }
}
.banner__song {
  z-index: 10;
  position: relative;
  width: 18rem;
  display: flex;
}
@media screen and (min-width: 768px) {
  .banner__song {
    width: 27rem;
  }
}
@media screen and (min-width: 1280px) {
  .banner__song {
    align-items: center;
    top: 1rem;
  }
}
.banner__song iframe {
  width: 100%;
  height: 125px;
}
@media screen and (min-width: 1280px) {
  .banner__song iframe {
    height: 150px;
  }
}

.title, .title--white {
  font-weight: 600;
  padding: 0.5rem 0;
  font-size: 1.5rem;
}
@media screen and (min-width: 768px) {
  .title, .title--white {
    font-size: 2.4rem;
    padding: 1rem 0;
  }
}
.title--white {
  color: white;
}
.title--white-small {
  font-size: 1.5rem;
  color: white;
}

.content-container, .content-container--gray {
  padding: 0rem 1rem;
}
@media screen and (min-width: 768px) {
  .content-container, .content-container--gray {
    padding: 0rem 2rem;
  }
}
@media screen and (min-width: 1280px) {
  .content-container, .content-container--gray {
    padding: 0rem 8.5rem;
  }
}
.content-container--gray {
  background-color: #FAFAFA;
}

.footer {
  background-color: #323232;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .footer {
    padding: 1rem 2rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer {
    padding: 2rem 8.5rem;
  }
}
.footer__social {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .footer__social {
    flex-direction: row;
    justify-content: space-between;
  }
}
.footer__heading {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .footer__heading {
    flex-direction: row;
    width: 70%;
  }
}
.footer__icons {
  display: flex;
  width: 35%;
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .footer__icons {
    align-items: center;
    width: 20%;
    margin: 0 2rem;
  }
}
.footer__contact-list {
  color: white;
  padding: 0.5rem 0;
  display: flex;
  flex-direction: column;
  font-size: 0.9rem;
}
@media screen and (min-width: 768px) {
  .footer__contact-list {
    flex-direction: row;
    justify-content: space-between;
  }
}
.footer__contact-item {
  display: flex;
  flex-direction: column;
  height: 10rem;
  justify-content: space-around;
}
.footer__contact-info {
  font-weight: 400;
}
.footer__contact-info--bold {
  font-weight: 600;
}
.footer__trademark {
  color: white;
  padding: 0.5rem 0;
  display: flex;
  flex-direction: column;
  font-size: 0.7rem;
}
@media screen and (min-width: 768px) {
  .footer__trademark {
    font-size: 0.9rem;
    padding: 2rem 0;
  }
}
.footer__logo {
  padding: 0.5rem 0rem;
  padding-top: 2rem;
}
@media screen and (min-width: 768px) {
  .footer__logo {
    display: none;
  }
}
.footer__logo--top {
  display: none;
}
@media screen and (min-width: 768px) {
  .footer__logo--top {
    display: flex;
    position: relative;
  }
}
.footer__logo-image {
  height: 1.6rem;
}

.about {
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .about__inner-container {
    padding: 0 3.5rem;
  }
}
.about__image {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
.about__image-styling {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (min-width: 768px) {
  .about__image-styling {
    height: 40vh;
  }
}
@media screen and (min-width: 1024px) {
  .about__image-styling {
    height: 60vh;
  }
}
.about__quote, .about__quote-author {
  padding: 0.5rem 0rem;
  font-weight: 600;
  font-size: 0.9rem;
  line-height: 1.3rem;
}
@media screen and (min-width: 768px) {
  .about__quote, .about__quote-author {
    font-size: 1.35rem;
    padding: 1.5rem 0rem;
    line-height: 1.75rem;
  }
}
@media screen and (min-width: 1024px) {
  .about__quote, .about__quote-author {
    font-size: 1.5rem;
    padding: 2rem 0;
    width: 80%;
    line-height: 2rem;
  }
}
@media screen and (min-width: 768px) {
  .about__quote-author {
    font-size: 1rem;
    font-weight: 600;
    padding: 1rem 0;
  }
}

.bio__subheading {
  padding: 0.5rem 0;
  font-size: 1.05rem;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .bio__subheading {
    font-size: 1.6rem;
    font-weight: 600;
  }
}
.bio__text {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .bio__text {
    flex-direction: row;
    justify-content: space-between;
  }
}
.bio__paragraph {
  padding: 0.5rem 0;
}
@media screen and (min-width: 768px) {
  .bio__paragraph {
    font-size: 0.9rem;
    line-height: 1.3rem;
    width: 48%;
  }
}

.gallery {
  padding: 1rem 0;
}
@media screen and (min-width: 768px) {
  .gallery {
    padding: 2rem 0;
  }
}
.gallery__images {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .gallery__images {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
  }
}
.gallery__image {
  padding: 0.5rem 0rem;
}
@media screen and (min-width: 768px) {
  .gallery__image {
    display: flex;
  }
}
.gallery__image-styling {
  height: 10rem;
  width: 18rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}
@media screen and (min-width: 768px) {
  .gallery__image-styling {
    width: 14rem;
    height: 7.5rem;
  }
}
@media screen and (min-width: 1024px) {
  .gallery__image-styling {
    width: 20.25rem;
    height: 11rem;
  }
}

.comments {
  padding: 0.5rem 0;
}
@media screen and (min-width: 768px) {
  .comments {
    padding: 1rem 0;
  }
}
@media screen and (min-width: 768px) {
  .comments__page {
    width: 82%;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1024px) {
  .comments__page {
    width: 50%;
    margin: 0 auto;
  }
}
.comments__create {
  display: flex;
  justify-content: space-between;
}
.comments__images {
  margin: 1.25rem 0;
}
.comments__profile-pic {
  width: 2.375rem;
  height: 2.375rem;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (min-width: 768px) {
  .comments__profile-pic {
    width: 3rem;
    height: 3rem;
  }
}
.comments__form {
  width: 80%;
}
@media screen and (min-width: 768px) {
  .comments__form {
    width: 90%;
  }
}
@media screen and (min-width: 1280px) {
  .comments__form {
    width: 87%;
  }
}
.comments__display {
  border-top: 0.125rem solid #E1E1E1;
}

.form-inputs__item {
  padding: 0.5rem 0;
}
.form-inputs__label {
  color: #AFAFAF;
  font-size: 0.7rem;
  padding-bottom: 0.25rem;
}
.form-inputs #name {
  width: 100%;
  border-radius: 0.25rem;
  border: 0.0625rem solid #E1E1E1;
}
.form-inputs #comment {
  width: 100%;
  height: 4rem;
  padding: 0.75rem;
  border-radius: 0.25rem;
  border: 0.0625rem solid #E1E1E1;
}
@media screen and (min-width: 768px) {
  .form-inputs #comment {
    padding: 1rem;
  }
}
.form-inputs input[type=text] {
  padding: 0.75rem;
}
@media screen and (min-width: 768px) {
  .form-inputs input[type=text] {
    padding: 1rem;
  }
}
.form-inputs ::-moz-placeholder {
  font-family: Avenir;
  color: black;
}
.form-inputs ::placeholder {
  font-family: Avenir;
  color: black;
}
.form-inputs .button {
  background-color: #323232;
  color: white;
  height: 2.5rem;
  width: 100%;
  border-radius: 0.25rem;
  font-weight: 600;
  margin: 0.5rem 0;
}
@media screen and (min-width: 768px) {
  .form-inputs .button {
    width: 10rem;
    float: right;
    margin: 1rem 0;
    font-size: 0.9rem;
  }
}

.item {
  display: flex;
  justify-content: space-between;
  border-bottom: 0.0625rem solid #E1E1E1;
  padding: 1rem 0;
}
.item__text {
  display: flex;
  flex-direction: column;
  width: 80%;
}
@media screen and (min-width: 768px) {
  .item__text {
    width: 90%;
  }
}
@media screen and (min-width: 1024px) {
  .item__text {
    width: 87%;
  }
}
.item__header {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0;
  font-size: 0.9rem;
}
.item__name {
  font-weight: 600;
}
.item__date {
  color: #AFAFAF;
}
.item__body {
  font-size: 0.8rem;
}
@media screen and (min-width: 768px) {
  .item__body {
    font-size: 0.9rem;
    line-height: 1.5rem;
  }
}
.item__image-container {
  width: 2.375rem;
  height: 2.375rem;
  border-radius: 50%;
  background-color: #E1E1E1;
}
@media screen and (min-width: 768px) {
  .item__image-container {
    width: 3rem;
    height: 3rem;
  }
}
.item__image {
  width: 2.375rem;
  height: 2.375rem;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (min-width: 768px) {
  .item__image {
    width: 3rem;
    height: 3rem;
  }
}/*# sourceMappingURL=bio.css.map */