@use './partials/global' as *;
@use './partials/variables' as *;
@use './partials/mixins' as *;


.shows{
    padding: 1rem 0rem;
    
    &__title{
        padding: 0 1rem;
    }
    &__display{
        display:flex;
        flex-direction: column;
    }
    &__item{
        display:flex;
        flex-direction:column;
        padding: 1rem 1rem;
        border-bottom: .125rem solid $Mercury;
    }
    &__heading{
        color: $Silver;
        font-size: 0.7rem;
        padding:0.25rem 0;
    }
    &__info{
        font-size:0.9rem;
        padding-bottom: 0.5rem;
        &--bold{
            @extend .shows__info;
            font-weight:600;
        }
    }
    &__button{
        background-color: $Bandsite-black;
        color:white;
        width: 18rem;
        height: 2.5rem;
        font-weight:600;
        font-size:1rem;
        border-radius: .25rem;
        padding:0.5rem 0;
    }
}